<ion-view title="Gestión">
  <ion-content style="background: url(https://s3.amazonaws.com/ionic-io-static/iNWtxrPXQ6mnyBlnXqCM_secundario_fondo.jpg) no-repeat center;background-size:cover;"
               padding="true" 
               class="has-header">
    <ion-list>
      <ion-item class="item-icon-left item-icon-right"
                 ng-click="buscarCalificacionesPersona()">
        <i class="icon ion-arrow-graph-up-right"></i>Calificaciones
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right"
                 ng-click="buscarAsistenciaPersona()">
        <i class="icon ion-clipboard"></i>Inasistencias
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right"
                 ng-click="buscarSancionPersona()">
        <i class="icon ion-alert"></i>Seguimiento
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
