<ion-view title="Escolar movil" id="page1">
    <ion-nav-buttons side="right" class="has-header" ng-hide="!isLogueado()">
        <button style="margin-right: 10px;" class="button button-positive icon ion-android-open" ng-click="abrirUrlExterna('https://escolarweb.com.ar/velezweb/login.php')" >
<!--        <button style="margin-right: 10px;" class="button button-positive icon ion-android-open" ng-click="abrirUrlExterna('http://deiocba.dyndns.tv:8081/SAG/LogIn.aspx?ReturnUrl=/SAG/CtaCte.aspx')" >-->
        </button>
        <button class="button button-positive icon ion-android-notifications" ng-click="buscarMensajesUsuario()" >
            <ion-icon name="notifications">
                <ion-badge class="badge badge-assertive" style="left: -10px;">{{getMensajesNoLeidos().length}}</ion-badge>
            </ion-icon>
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" 
                 style="background: url(img/fondo_pantalla.png) no-repeat center;background-size:cover;"
                 class="has-header">
        <ion-item 
            class="item-avatar item-icon-right" id="mensajes-list-item5"
            ng-show="isAlumno()"
            ng-click="irAgestion(getUsuario().idPersona)">
            <img src="{{usuario.urlFoto}}{{getUsuario().idPersona.foto}}">
            <h2>{{getUsuario().idPersona.apellido}}</h2>
            <p>{{getUsuario().idPersona.nombre}}</p>
            <i class="icon ion-chevron-right"></i>
        </ion-item>
        <ion-item 
            ng-repeat="per in getUsuario().personaCollection"
            class="item-avatar item-icon-right" id="mensajes-list-item5"
            ng-click="irAgestion(per)">
            <img src="{{usuario.urlFoto}}{{per.foto}}">
            <h2>{{per.apellido}}</h2>
            <p>{{per.nombre}}</p>
            <i class="icon ion-chevron-right"></i>
        </ion-item>
    </ion-content>

</ion-view>
