<ion-view title="Mensajes" id="page6">
    <ion-content padding="true" 
                 style="background: url(https://s3.amazonaws.com/ionic-io-static/iNWtxrPXQ6mnyBlnXqCM_secundario_fondo.jpg) no-repeat center;background-size:cover;"
                 class="has-header">
        <ion-list id="mensajes-list5">
            <ion-item 
                ng-repeat="msj in getMensajes()"
                class="item-avatar item-icon-right" 
                id="mensajes-list-item5"
                ng-click="verMensaje($index, true)">
                <img src="{{usuario.urlFoto}}{{msj.idMensaje.idUsuarioEnvia.idPersona.foto}}">
                <h2>{{msj.idMensaje.asunto}}</h2>
                <h5>{{msj.idMensaje.fechayhora | date:'dd/MM/yyyy HH:mm:ss'}}</h5>
                <p ng-bind-html="trustAsHtml(msj.idMensaje.texto)"></p>
                <i class="icon ion-email-unread" ng-hide="{{msj.leido}}"></i>
                <i class="icon ion-ios-email-outline" ng-show="{{msj.leido}}"></i>
                <ion-option-button class="button-balanced"
                                   ng-click="verMensaje($index, false)">
                    <i class="icon ion-checkmark"></i>
                </ion-option-button>
            </ion-item>
            <ion-item 
                ng-hide="getMensajes().length"
                class="item-avatar item-icon-right" 
                id="mensajes-list-item5">
                <h2>Sin mensajes</h2>
                <p>No posees ningún mensaje en tu bandeja</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
