<ion-view title="Mensajes" id="page6">
    <ion-content padding="true" class="has-header">
        <ion-list id="mensajes-list5">
            <ion-item 
                ng-repeat="msj in getMensajes()"
                class="item-avatar item-icon-right" 
                id="mensajes-list-item5"
                ng-click="verMensaje($index, true)">
                <img src="http://108.160.155.140:8080/azules/faces/resources/images/fotos/{{msj.idMensaje.idUsuarioEnvia.idPersona.foto}}">
                <h2>{{msj.idMensaje.asunto}}</h2>
                <p>{{msj.idMensaje.texto}}</p>
                <i class="icon ion-email-unread" ng-hide="{{msj.leido}}"></i>
                <i class="icon ion-ios-email-outline" ng-show="{{msj.leido}}"></i>
                {{msj.leido}}
                <ion-option-button class="button-balanced"
                                   ng-click="verMensaje($index, false)">
                    <i class="icon ion-checkmark"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
