<ion-view title="Detalle de mensaje">
    <ion-content padding="true" class="has-header">
        <h3 style="color:#000000;">{{getMensajeSel().idMensaje.asunto}}</h3>
        <h5 style="color:#000000;">{{getMensajeSel().idMensaje.fechayhora | date:'dd/MM/yyyy HH:mm:ss'}}</h5>
        <div class="list card">
            <ion-item class="item-avatar">
                <img src="{{usuario.urlFoto}}{{getMensajeSel().idMensaje.idUsuarioEnvia.idPersona.foto}}">
                <h2>{{getMensajeSel().idMensaje.idUsuarioEnvia.idPersona.apellido}}</h2>
                <p>{{getMensajeSel().idMensaje.idUsuarioEnvia.idPersona.nombre}}</p>
            </ion-item>
            <div class="item item-body">
                <div class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#000000;"
                       ng-bind-html="trustAsHtml(aToOnclickHtml(getMensajeSel().idMensaje.texto))">
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>