<ion-view title="Mi cuenta" id="page8">
    <ion-content padding="true" 
                 style="background: url(https://s3.amazonaws.com/ionic-io-static/iNWtxrPXQ6mnyBlnXqCM_secundario_fondo.jpg) no-repeat center;background-size:cover;"
                 class="has-header">
        <div class="list card" id="miCuenta-card21">
            <ion-item class="item-avatar" id="miCuenta-list-item8">
                <img src="{{usuario.urlFoto}}{{getUsuario().idPersona.foto}}">
                <h2>{{getUsuario().idPersona.apellido}}</h2>
                <p>{{getUsuario().idPersona.nombre}}</p>
            </ion-item>
            <!--<ion-item class="item-icon-left item-icon-right dark" id="miCuenta-list-item9">
                <i class="icon ion-camera"></i>Cambiar foto
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right positive" id="miCuenta-list-item11">
                <i class="icon ion-android-unlock"></i>Cambiar clave
                <i class="icon ion-ios-arrow-right"></i>-->
            </ion-item>
        </div>
    </ion-content>
</ion-view>